{% extends '::frontend.html.twig' %}
{% block cuerpo %}
<div class="menu">
		<h1>Pagina Principal </h1>
		<h1>Encuesta</h1>
		{# <img alt="Fotografía de la oferta" src="{{ asset('imagenes/usuarios_login.png') }}" height="100" width="200"> #}
		<a href="{{ path('usuario_principal') }}"><h1>Usuarios</h1></a>
		</div>
{% endblock %}
            