/* CSS Document */
.logo1{
	position:absolute;
	left: 2px;
	top: -2px;
	overflow: visible;
	width: 144px;
	height: 83px;

}
.paleta{
	position:absolute;
	left: 74px;
	top: 159px;
	overflow: visible;
}
.municipio{
	position:absolute;
	left: 246px;
	top: 99px;
	overflow: visible;
	width: 755px;
	height: 314px;
}
.regresar{
	position:absolute;
	left: -10px;
	top: 147px;
	width: 206px;
	height: 113px;
}
.metropolitano{
	position:absolute;
	left: 202px;
	top: 100px;


}

.panamericano{
	position:absolute;
	left: 200px;
	top: 101px;

}
.paramo{
	position: absolute;
	left: 200px;
	top: 100px;

}
.sur{
	position: absolute;
	left: 202px;
	top: 99px;

}
.mocoties{
left:201px;
top:99px;
width:755px;
height:317px;
position: absolute;

}
.transparencia{
left:201px;
top:99px;
width:755px;
height:317px;
position: absolute;

}
.parroquia{
left:222px;
top:100px;
width:755px;
height:317px;
position: absolute;

}
.titulo {
left:867px;
top:540px;
width:366px;
height:28px;
position: absolute;
font-family:Arial, Helvetica, sans-serif;
line-height: 1em;
color: #ec1e24;
font-weight:bold;
font-size: 24px;
text-shadow:0px 0px 0 rgb(197,-9,-3),-1px 0px 0 rgb(168,-38,-32),-2px 0px 0 rgb(139,-67,-61), -3px 0px 0 rgb(110,-96,-90),-4px 0px 3px rgba(0,0,0,0.15),-4px 0px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);}

.total{

font-weight:bold;
font-size: 16px;
color:#FFFFFF; 
	width:145px;
	height:21px;
	position: absolute;
	left: 51px;
	top: 11px;
}
.conformadas{
font-weight:bold;
font-size: 16px;
color:#FFFFFF; 
	width:145px;
    height:21px;
	position: absolute;
	left: 52px;
	top: 10px;
}
.auditadas{
font-weight:bold;
font-size: 16px;
color:#FFFFFF; 
	width:145px;
	height:21px;
	position: absolute;
	left: 50px;
	top: 10px;
}
.punto_1_imagen{
left:815px;
top:536px;
width:179px;
height:28px;
position: absolute;

}
.punto_2_imagen{
left:815px;
top:574px;
width:179px;
height:34px;
position: absolute;

}
.punto_3_imagen{
left:814px;
top:611px;
width:179px;
height:37px;
position: absolute;

}
.punto_merida1{
font-weight:bold;
font-size: 16px;
color:#69bd45;
	width:219px;
	height:22px;
	position: absolute;
	left: 267px;
	top: 9px;
	background-color: #000000;

}
.punto_merida2{
font-weight:bold;
font-size: 16px;
color:#69bd45;
	left:269px;
	top:10px;
	width:216px;
	height:22px;
	position: absolute;
	background-color: #000000;
}
.punto_merida3{
font-weight:bold;
font-size: 16px;
color:#69bd45;
	left:267px;
	top:9px;
	width:220px;
	height:22px;
	position: absolute;
	background-color: #000000;
}
.botones_menu{

	width:84px;
	height:21px;
	position: absolute;
	left: 20px;
	top: 75px;
}
.mensaje_sesion{
color:#000000;
font-weight:bold;
font-size: 16px;
	width:242px;
	height:22px;
	position: absolute;
	left: 988px;
	top: 82px;
}
.titulo_cartografia {
left:749px;
top:493px;
width:356px;
height:39px;
position: absolute;
font-family:Arial, Helvetica, sans-serif;
line-height: 1em;
color: #ec1e24;
font-weight:bold;
font-size: 26px;
text-shadow:0px 0px 0 rgb(197,-9,-3),-1px 0px 0 rgb(168,-38,-32),-2px 0px 0 rgb(139,-67,-61), -3px 0px 0 rgb(110,-96,-90),-4px 0px 3px rgba(0,0,0,0.15),-4px 0px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);}
